

header{
    z-index: 4;
}

.who{
    display: flex;
    width: 90%;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.man{
    background-color: rgb(133, 212, 224);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 20px;
    min-width: 500px;
    margin: 30px 50px;
}

.man img{
    max-width: 180px;
    max-height: 180px;
    position: absolute;
    transition: all 1s;
    z-index: 3;
}

h2.name{
    transition: color 1s;
}

p.description{
    transition: color 1s;
    font-family: Tahoma, Verdana, sans-serif;
}

.text-block{
    max-width: 250px;
    color: rgb(133, 212, 224);
}

.man:hover img{
    transform: translate(220px, 0);
}

.man:hover h2.name{
    color: rgb(54, 41, 199);
}


.man:hover p.description{
    color: white
}

section.idea{
    background-color: rgb(255, 219, 0);
    max-width: 100%;
    min-height: 500px;   
}

q{
    font-size: 30px;
    font-family: "Monotype Corsiva";
}

.idea p{
    padding: 30px;
    font-size: 25px;
}


.gallery{
    width: 90%;
    margin: 0 auto;
    background-color:rgb(25, 23, 30);
}

a.login{
    color: rgb(223, 168, 16);
    text-decoration: underline;
    transition: all .5s;
}

a.login:hover{
    color:rgb(25, 23, 30);
    background-color: rgb(255, 219, 0);
}