body {
    background: rgb(46,91,195);
background: linear-gradient(90deg, rgba(46,91,195,1) 0%, rgba(17,224,222,1) 100%);
    background-size: 100%;
    min-height: 600px;
}

.background {
    width: 80%;
    min-height: 700px;
    background-color: white;
    margin: 30px auto;
    box-shadow: 14px 13px 30px 2px rgba(0, 0, 0, 0.83);
}


img.back {
    width: 70%;
}

div.text-block {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 40px;
}

div.contact {
    background-color: rgb(133, 212, 224);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 10px;
    transition: all .5s;
    margin-top: 30px;
}

div.contact:hover {
    box-shadow: 10px 5px 5px rgb(84, 78, 78);
}