body{
    background-image: url("/static/images/green-back.jpg");
    background-size: 100%;
    min-height: 600px;
}

.background{
    width: 80%;
    min-height: 700px;
    background-image: url("/static/images/login-back.png");
    background-color: #fff;
    margin: 30px auto;
    box-shadow: 14px 13px 30px 2px rgba(0,0,0,0.83);

}

div.login{
    width: 80%;
    margin: 0 auto;
}